.footer-icon {
  margin-right: 2rem;
}

.social-icon {
  margin-right: 1rem;
}

.footer {
  width: 100%;
  padding: 6rem 0;
  background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
  max-width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.footer-container h4 {
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
}

.footer-container p {
    font-size: 1.2rem;
}

.left-footer, .right-footer {
  height: 100%;
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.location {
    display: flex;
    margin-bottom: 0.8rem;
}

.location p{
    line-height: 30px;
}

.social {
    margin-top: 1rem;
}

/* for mobile devices */

@media only screen and (max-width : 550px) {
    .footer-container {
        grid-template-columns: 1fr;
      }
}
